@(reports: List[Report], reportForm: Form[Report])

@import helper._

@main("AREST") {

    <h1>@reports.size() report(s)</h1>

    <ul>
        @for(report <- reports) {
            <li>
                <h2>Reporter</h2>
                <h2>Report</h2>
                <p>Type of Abuse: </p>@report.typeOfAbuse<br>
                <p>Description: </p>@report.description<br>
                <p>Name: </p>@report.reporter.firstName @report.reporter.lastName<br>
                <p>Addr: </p>@report.reporter.address<br>
                <p>Phone: </p>@report.reporter.phoneNumber<br>
                <p>Mandated?: </p>@report.reporter.mandatedBool<br>
                <p>Relationship to Victim: </p>@report.reporter.relationshipToVictim<br>

                @form(routes.Application.deleteReport(report.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
       }
    </ul>

    <h2>Add a new report</h2>

    @form(routes.Application.newReport()) {

        @inputText(reportForm("typeOfAbuse"))
        @inputText(reportForm("description"))
        @inputText(reportForm("reporter.firstName"))
        @inputText(reportForm("reporter.lastName"))
        @inputText(reportForm("reporter.address"))
        @inputText(reportForm("reporter.phoneNumber"))
        @inputText(reportForm("reporter.mandatedBool"))
        @inputText(reportForm("reporter.relationshipToVictim"))

        <input type="submit" value="Create">

    }
    
    <h2>Go to users</h2>

    @form(routes.Application.users()) {

        <input type="submit" value="Users">

    }

}
