@(users: List[UserContainer], userForm: Form[UserContainer])

@import helper._

@main("AREST") {
    
    <h2>Go to reports</h2>

    @form(routes.Application.reports()) {

        <input type="submit" value="Reports">

    }

    <h2>@users.size() user(s)</h2>

    <ul>
        @for(user <- users) {
            <li>
                @user.id
                @user.userName
                @user.firstName
                @user.lastName
                <br>
                @user.email
                <br>
                @user.isSupervisor
				<br>
				pw: @user.password, salt: @user.salt

                @form(routes.Application.deleteUserById(user.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
       }
    </ul>

    <h2>Add a new user</h2>

    @form(routes.Application.newUser()) {

        @inputText(userForm("userName"))
        @inputText(userForm("firstName"))
        @inputText(userForm("lastName"))
        @inputText(userForm("email"))
        @inputText(userForm("isSupervisor"))
        @inputText(userForm("password"))
        @inputText(userForm("salt"))

        <input type="submit" value="Create">

    }
}
