@(reports: List[Report], reportForm: Form[Report])

@import helper._

@main("AREST") {

    <h1>@reports.size() report(s)</h1>

    <ul>
        @for(report <- reports) {
            <li>
                <h2>Reporter</h2>
                <h2>Report</h2>
                <p>Type of Abuse: </p>@report.typeOfAbuse<br>
                <p>Description: </p>@report.description<br>

                @form(routes.Application.deleteReport(report.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
       }
    </ul>

    <h2>Add a new report</h2>

    @form(routes.Application.newReport()) {

        @inputText(reportForm("typeOfAbuse"))
        @inputText(reportForm("description"))

        <input type="submit" value="Create">

    }
    
    <h2>Go to users</h2>

    @form(routes.Application.users()) {

        <input type="submit" value="Users">

    }

}
